/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #0d0d0d;
  color: #ffffff;
  background-image: url('https://s1.1zoom.me/b5050/77/Planets_Saturn_planet_Mars_614394_1920x1200.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
  color: #00ffcc;
  text-shadow: 0 0 5px #00ffcc;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

nav {
  margin-bottom: 30px;
}

nav a {
  color: #00ffcc;
  text-decoration: none;
  font-size: 1.5em;
  margin: 0 15px;
  transition: color 0.3s;
}

nav a:hover {
  color: #00cc99;
}

form {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 255, 204, 0.5);
  max-width: 600px;
  margin: auto;
}

input, button {
  width: calc(100% - 20px);
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
}

input {
  background-color: #262626;
  color: #ffffff;
}

button {
  background-color: #00ffcc;
  color: #0d0d0d;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  background-color: #00cc99;
}

.container {
  padding: 50px;
  text-align: center;
}

.suggestion-list {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 255, 204, 0.5);
  max-width: 800px;
  margin: 50px auto;
}

.suggestion-item {
  border-bottom: 1px solid #00ffcc;
  padding: 20px 0;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.suggestion-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
